extends layout.jade

block content
		include title.html
		h1 mixin
		mixin lesson
			p node study
		+lesson
		mixin study(name,list)
			p= name
			ul.ulClass
				each i in list
					li= i
		+study('xiaoming',['java','php','asp','node'])
		mixin group(student)
			h4 #{student.name}
			+study(student.name,student.list)
		+group({name:'jerry',list:['js','css','html']})
		mixin showBlock(test)
			p #{test}
			if block
				block
		+showBlock('hahahahaha')
			p hello world

		h1 if-else
		- var isStr = true;
		- var lessons = ['jade','node','php'];
		if lessons
			if lessons.length>0
				p= lessons.join('*')
			else if lessons.length>1
				p= lessons.join('@')
			else if lessons.length>2
				p= lessons.join('$')
			else
				p= noArray
		else
			p= noArray

		h1 unless
		unless !isStr
			p #{lessons.length}

		h1 case
		-var caseName = 'node';
		case caseName
			when 'java'
				p hi java
			when 'php'
			when 'node' : p hi #{caseName}
			default
				p hi #{caseName}


		h1 流程代码
		- var jsonData = {name:'zhangsan',age:'30'};
		- for (var k in jsonData)
			p= k+':'+jsonData[k]
		- each value, key in jsonData
			p #{key}: #{value}
		- var arrList = ['node','php','java'];
		each item in arrList
			p= item
		
		- var sectiongs = [{id:1,name:'zhangsan',items:['aa','bb']},{id:2,name:'lisi',items:['cc','dd']},{id:3,name:'wanger',items:['ee','ff']}];
		dl
			each section in sectiongs
				dt= section.id+':'+section.name
				each item in section.items
					dd= item
		
		h2 while
		- var n = 0;
		ul
			while n<4
				li #{n++}

		h1 hahaha
		- var str = 'hahahahaha';
		- var htmlStr = '<span><script>alert(1)</script></span>';
		p #{str}
		p #{htmlStr}
		p !{htmlStr}
		p= str
		p= htmlStr
		p!= htmlStr
		p \#{htmlStr}
		p \!{htmlStr}
		br
		h1 jade学习
		// jade学习
		//- xixixixixi
		//
			ul.ccc
				li hahahahaha
				li cicicicici
		div#myDiv.divClass 元素标签语法
		#myDiv1.divClass1 没有元素的时候默认是div标签
		p(id="myP1",class="myPclass") 在命令行输入jade filename就可以编译文件了，也可以加-P(未压缩版) -w(监控jade文件变化)
		input(type="text",value="jade学习",name="input属性")
		input(type="checkbox",checked)
		p.
			    p标签多文本的时候可以在P标签后加上一个点
			<span>回车缩进</span>，就可以自由的控制文本换行的问题了
			p后面的那个<strong>点</strong>不能忘记
		br
		a(href="www.baidu.com",title="a标签") a标签链接
		ul#myul.myultest
			li haha
			li xixi
			li lulu
		include footer.jade
		script(src="index.js")