<% include header.ejs %>

<div class="well jumbotron">
    <h1><%= title %></h1>

    <form method="post">
        <input type="hidden" name="hiddenId" value="<%=demo._id%>">
        uid : <input type="text" name="uidUpd" value="<%=demo.uid%>" /><br/>
        title:<input type="text" name="titleUpd" value="<%=demo.title%>" /><br/>
        content:<textarea name="contentUpd"  ><%=demo.content%></textarea><br/>

        <input id="updateData" type="button" value="更新"/>
        <input type="reset" value="reset"/>
    </form>


</div>

<% include footer.ejs %>